*{
    padding: 0;
    
}
.banner{
    background-image: url(./img/banner.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
}
.icon{
    /* border-radius: 50%; */
    padding: 2rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.icon-mid{
    padding:2.5rem;
}
.crd{
    object-fit: cover;
}
.img{
    object-fit: cover;
    
}
.profilePic{
    background-image: url(https://ca.slack-edge.com/T03LBL87DA8-U03MX0ZTZGQ-cffa7af04dfd-512);
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border:0.5rem solid rgb(128, 128, 128);
    
}
.social{
    padding: 0.5rem;
    background-color: black;
    border-radius: 50%;
    color: white;
}
a{
    text-decoration: none;
}
.links img{
    width: 10rem;
}
.contact{
    background-image: url(./img/map.jpeg);
    background-position: center;
    background-size: cover;
}
.banner h3{
    color:#511C29 ;
}
.banner h2{
    color:#3A445D ;
}
.bannerWrapper{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
